/* Header Styles */

.header {
  padding: 1rem 2rem;
  color: white;
  background-color: #1a1a1a;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);

  &__cart-button {
    cursor: pointer;

    padding: 0.5rem 1.5rem;

    font-size: 1rem;
    font-weight: 600;
    color: #1a1a1a;

    background-color: #ffd700;
    border: none;
    border-radius: 4px;

    transition: opacity 0.2s;

    &:active {
      transform: scale(0.98);
    }

    &:hover {
      opacity: 0.9;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;

    max-width: 1200px;
    margin: 0 auto;
  }

  &__logo {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__nav-link {
    cursor: pointer;

    font-weight: 500;
    color: #ffd700;
    text-decoration: none;

    transition: opacity 0.2s;

    &:hover {
      opacity: 0.8;
    }
  }
}
